{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{% trans "About Us" %}</title>

</head>
<body>


{% block header %}
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'home:home-view' %}">{% trans "Home" %}</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
               aria-expanded="false">{% trans "Products" %}</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://crime.phoenixfamily.co/">Crime</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact:contact-view' %}">{% trans "Contact Us" %}</a>
        </li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'about:about-view' %}">{% trans "About Us" %}</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'blogs:blog-view' %}">{% trans "Blogs" %}</a></li>
    </ul>
{% endblock %}

{% block content %}

    <section class="section container py-5">
        <div class="card p-4 rounded shadow glass-card">
            <h2 class="display-6 fw-bold section-title">{% trans 'Where Ideas and Connections Are Reborn' %}</h2>
            <p class="lead">
                {% trans 'PhoenixFamily is a company inspired by the mythical story of the phoenix, a creature that is always alone.We have decided to be a family for this legendary bird,embedding this philosophy at the core of our mission: supporting creativity and fostering meaningfulconnections.Our goal is to create a space where individuals can bring their ideas to life without feeling alone orunsupported.Additionally, we provide products that bring excitement and entertainment into the lives of ouraudience.At PhoenixFamily, we believe that every idea can be reborn, just like the phoenix rising from its ashes.Our family is here to accompany you on your journey to creating ideas and experiencing uniqueentertainment.' %}
            </p>
        </div>
    </section>

    <!-- FAQ Section -->
    <section class="section container py-5">
        <div class="header text-center ">
            <h3 class="text-danger fw-bold">{% trans 'FAQ' %}</h3>
        </div>
        <p class="text-muted text-center">{% trans 'Find answers to the most frequently asked questions below.' %}</p>


        <div class="row">
            <!-- FAQ Items -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card vision-card rounded shadow">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-fire fa-2x text-danger mb-3 "></i>
                        <h6 class="fw-bold {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">{% trans "Why was the name PhoenixFamily chosen?" %}</h6>
                        <p class="text-muted {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">
                            The phoenix is a mythical bird known for its solitude, having no family. Our vision is to be
                            the family this bird never had.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card vision-card rounded shadow">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-building fa-2x text-primary mb-3"></i>
                        <h6 class="fw-bold {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">{% trans "What does your company do?" %}</h6>
                        <p class="text-muted {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">
                            PhoenixFamily specializes in creating entertainment platforms and transforming ideas into
                            reality through websites and mobile applications.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card vision-card rounded shadow">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-bullseye fa-2x text-success mb-3"></i>
                        <h6 class="fw-bold {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">{% trans "What is your main mission?" %}</h6>
                        <p class="text-muted {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">
                            Our mission is to foster creativity, bring people together, and offer engaging entertainment
                            experiences powered by cutting-edge technology.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card vision-card rounded shadow">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-wand-sparkles fa-2x text-warning mb-3"></i>
                        <h6 class="fw-bold {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">{% trans "What makes PhoenixFamily unique?" %}</h6>
                        <p class="text-muted {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">
                            We stand out by blending entertainment with emerging technologies such as AI, AR, and VR,
                            all while maintaining a focus on creativity and innovation.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card vision-card rounded shadow">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-store fa-2x text-info mb-3"></i>
                        <h6 class="fw-bold {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">{% trans "How can I use your products or contact you?" %}</h6>
                        <p class="text-muted {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">
                            You can explore our products in the <a href="{% url 'products:product-view' %}"
                                                                   class="text-primary">Products</a> section.
                            To reach us, visit the <a href="{% url 'contact:contact-view' %}" class="text-primary">Contact
                            Us</a> page.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card vision-card rounded shadow">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-hands-helping fa-2x text-dark mb-3"></i>
                        <h6 class="fw-bold {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">{% trans "Do you accept client projects?" %}</h6>
                        <p class="text-muted {% if LANGUAGE_BIDI %}text-end{% else %}text-start{% endif %}">
                            <strong>Absolutely!</strong> We are happy to offer solutions to anyone interested in our
                            services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of FAQ Section -->


{% endblock %}

{% block footer %}

{% endblock %}


</body>
</html>
