{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <!-- Header Section -->
    <header class="blog-header text-center">
        <h1 class="blog-title">{{ blog_post.title }}</h1>
        <p class="blog-meta">
            By <a href="" class="text-decoration-none">{{ blog_post.author }}</a> | {{ blog_post.published_date }}
        </p>
    </header>

    <!-- Cover Image -->
    <div class="text-center">
        {% if blog_post.image %}
            <img src="{{ blog_post.image.url }}" alt="blog_post.title " class="img-fluid rounded"/>
        {% else %}
            <img src="{% static 'images/logo.png' %}" class="img-fluid rounded" alt="{{ post.title }}"/>
        {% endif %}
    </div>

    <!-- Blog Content -->
    <article class="blog-content mt-4">
        <p>
            {{ blog_post.content }}
        </p>
    </article>

</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ blog_post.meta_title }}",
  "description": "{{ blog_post.meta_description }}",
  "author": {
    "@type": "Person",
    "name": "{{ blog_post.author }}"
  },
  "datePublished": "{{ blog_post.published_date }}",
  "image": "{{ blog_post.image }}"
}
</script>

</body>
</html>
