{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow"> <!-- اجازه ایندکس و دنبال کردن لینک‌ها -->
    <title>{% block title %}{% trans page_title %}{% endblock %}</title> <!-- عنوان صفحه -->
    <meta name="description" content="{{ page_description }}"> <!-- توضیحات صفحه -->
    <meta name="keywords" content="{{ page_keywords }}"> <!-- کلمات کلیدی -->
    <link rel="canonical" href="{{ canonical_url }}"> <!-- URL canonical برای جلوگیری از محتوای تکراری -->

    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:image" content="{% static 'images/logo.png' %}">
    <meta property="og:url" content="{{ canonical_url }}">

    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ page_description  }}">
    <meta name="twitter:image" content="{% static 'images/logo.png' %}">
    <meta name="twitter:card" content="summary_large_image">


</head>
<body>


{% block header %}
    <a class="navbar-brand" href="//phoenixfamily.co">
            <img src="{{ About.logo.url }}" alt="{% trans 'Logo' %}" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
            <i class="fa-solid fa-bars custom-toggler"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="{% url 'home:home-view' %}">{% trans "Home" %}</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
               aria-expanded="false">{% trans "Products" %}</a>
            <ul class="dropdown-menu">
                {% for x in Products %}
                <li><a class="dropdown-item" href="{% url 'products:product-view' x.id %}">{{ x.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact:contact-view' %}">{% trans "Contact Us" %}</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about:about-view' %}">{% trans "About Us" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'blogs:blog-view' %}">{% trans "Blogs" %}</a></li>
    </ul>
        </div>
{% endblock %}


  {% block content %}

<div class="container w-80 mt-4">
    <div class="input-group">
        <label for="search-input"></label>
        <input type="text" id="search-input" class="form-control" placeholder="{% trans 'Search' %}">
        <div class="input-group-append">
            <button id="search-button" class="btn" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-12" style="color:var(--primary-light);">
      <h3 class="mb-3">Discover Insights, Stories, and Innovations</h3>
    </div>
  </div>
  <div class="row mt-4">
    <!-- Blog Post Card -->
      {% for post in blog_posts %}

    <div class="col-md-4 mb-4">
         <div class="card">
             {% if post.image %}
                 <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" />
             {% else %}
                 <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="{{ post.title }}" />
             {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
                {{ post.content|truncatewords:30 }}
            </p>
        </div>
        <div class="card-footer">
            <a href="{% url 'blogs:detail' post.slug  %}" target="_blank">read more</a>
        </div>
    </div>
    </div>
      {% endfor %}

  </div>
</div>

<script>
    function searchFunction() {
    var input, filter, posts, post, title, i, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toLowerCase();
    posts = document.getElementsByClassName('blog-post');

    // Loop through all blog posts and hide those that don't match the search
    for (i = 0; i < posts.length; i++) {
        post = posts[i];
        title = post.getElementsByTagName('h4')[0];
        txtValue = title.textContent || title.innerText;

        if (txtValue.toLowerCase().indexOf(filter) > -1) {
            post.style.display = "";
        } else {
            post.style.display = "none";
        }
    }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ page_title }}",
  "description": "{{ page_description }}",
  "author": {
    "@type": "Person",
    "name": "AbbasLotfinasab"
  },
  "datePublished": "{{ page_date_published }}",
  "image": "{% static 'images/logo.png' %}"
}
</script>

{% endblock %}


{% block footer %}
    <div class="row align-items-center">
                        <!-- لوگوی شرکت -->
                        <div class="col-md-4 text-center mb-3 mb-md-0">
                            <a href="//phoenixfamily.co">
                                <img src="{{ About.logo.url }}" alt="{% trans About.name %}" class="img-fluid" style="max-width: 150px;">
                            </a>
                        </div>

                        <!-- اطلاعات تماس -->
                        <div class="col-md-4 text-center mb-3 mb-md-0">
                            <h6 class="mb-2">{% trans "Contact Us" %}</h6>
                            <p class="mb-1">
                                <i class="fas fa-phone-alt contact-icon  me-2"></i>{% trans "Phone" %}: {{ About.number }}
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope contact-icon me-2"></i>{% trans "Email" %}: {{ About.email }}
                            </p>
                        </div>

                        <!-- شبکه‌های اجتماعی -->
                        <div class="col-md-4 text-center right">
                            <h6 class="mb-2">{% trans "Follow Us" %}</h6>
                            <div class="social-icons">
                            <a href="{{ About.instagram }}" class="me-3"><i class="fab fa-instagram fa-lg"></i></a>
                            <a href="{{ About.telegram }}" class="me-3"><i class="fab fa-telegram fa-lg"></i></a>
                            <a href="{{ About.whatsApp }}" class="me-3"><i class="fab fa-whatsapp fa-lg"></i></a>
                            <a href="{{ About.linkedin }}"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                            </div>
                        </div>
                    </div>

{% endblock %}



</body>
</html>
