{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{% block title %}{% trans page_title %}{% endblock %}</title> <!-- عنوان صفحه -->


</head>
<body>

 {% block header %}
      <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url 'home:home-view' %}">{% trans "Home" %}</a></li>
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{% trans "Products" %}</a>
                     <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="https://crime.phoenixfamily.co/">Crime</a></li>
                     </ul>
                 </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact:contact-view' %}">{% trans "Contact Us" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about:about-view' %}">{% trans "About Us" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blogs:blog-view' %}">{% trans "Blogs" %}</a></li>
            </ul>
 {% endblock %}


 {% block content %}

         <section class="hero">
        <video id="heroVideo" autoplay muted loop>
            <source src="{% static 'videos/brand-intro.mp4' %}" type="video/mp4">
            مرورگر شما از ویدیو پشتیبانی نمی‌کند.
        </video>
        <div class="hero-overlay"></div>
        <div class="hero-content container">
            <p class="typing-text">مرز بین واقعیت و رویا را بشکن!</p>
            <br>
            <a href="" class="cta-btn">کاوش را آغاز کن →</a>
        </div>
        <button class="sound-btn" id="soundToggle"><i class="fas fa-volume-mute"></i></button>
    </section>

    <script>
        document.getElementById("soundToggle").addEventListener("click", function() {
            let video = document.getElementById("heroVideo");
            let icon = this.querySelector("i");
            if (video.muted) {
                video.muted = false;
                icon.classList.remove("fa-volume-mute");
                icon.classList.add("fa-volume-up");
            } else {
                video.muted = true;
                icon.classList.remove("fa-volume-up");
                icon.classList.add("fa-volume-mute");
            }
        });
    </script>

 {% endblock %}

{% block footer %}

{% endblock %}


</body>
</html>
